:root {
  --red: #d87a63;
  --blue: #63c1d8;
  --grid-border-color: #ccc;
  --btn-color: #6b7b88;
  --text-color: #4e4f62;
  --background: #f0eef1;
  --header: #fffbfb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background);
  color: var(--text-color);
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--header);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem;
}

h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2.2rem;
  line-height: 3rem;
}

.sign {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
}

.sign line,
.sign circle {
  stroke: var(--text-color);
}

.hidden {
  display: none;
}

.main {
  padding: 1rem;
  flex-grow: 1;
  width: 100%;
}

.status {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  height: 450px;
  margin: 3rem auto 6rem;
}

.cell {
  display: grid;
  border: 6px solid var(--grid-border-color);
  font-size: 4rem;
  font-weight: 900;
  place-items: center;
  cursor: pointer;
  width: 150px;
  height: 150px;
}

.cell svg {
  width: 100px;
  height: 100px;
}

.cell line {
  stroke: var(--red);
}

.cell circle {
  stroke: var(--blue);
}

.grid-top {
  border-top: none;
}

.grid-bottom {
  border-bottom: none;
}

.grid-left {
  border-left: none;
}

.grid-right {
  border-right: none;
}

.restart-btn {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
  font-weight: 700;
  font-size: 1.4rem;
  border: 3px solid #afafaf;
  color: #afafaf;
  font-family: 'Roboto Slab', sans-serif;
}

.restart-btn:hover {
  background-color: #f1eff2;
  color: var(--btn-color);
  border-color: var(--btn-color);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
}