:root {
  --red: #d87a63;
  --blue: #63c1d8;
  --grid-border-color: #ccc;
  --btn-color: #798893;
  --base-color: #4e4f62;
  --background: #f0eef1;
  --header: #fffbfb;
  --win-combo: #f7f6f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background);
  color: var(--base-color);
}

button,
select {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--header);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0.7rem;
  margin-bottom: 1.2rem;
}

h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2.2rem;
  line-height: 3rem;
}

.sign {
  margin-right: 1rem;
  width: 34px;
  height: 34px;
}

.sign line,
.sign circle {
  stroke: var(--base-color);
}

.hidden {
  display: none;
}

.main {
  flex-grow: 1;
  max-width: 490px;
  margin: 0 auto;
}

.status {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1.2rem;
  width: 90%;
}

.game-mode-wrapper {
  position: relative;
}

.game-mode {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 0.7em;
  width: 170px;
  background-color: var(--header);
  height: 50px;
}

.fa-caret-down {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}

.game-mode:hover {
  outline: 2px solid #ccc;
}

option {
 font-weight: 700;
 background-color: var(--header);
}

.side-chooser {
  display: inline-flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
  border-radius: 0.5rem;
  background-color: var(--header);
}

.radio-input {
  display: none;
}

.radio-label {
  width: 85px;
  display: flex;
  justify-content: center;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.radio-label.x {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.radio-label.o {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.radio-input:checked + .radio-label {
  background-color: var(--base-color);
  border: var(--btn-color) 2px solid;
}

.radio-input:checked + .radio-label line,
.radio-input:checked + .radio-label circle {
  stroke: var(--background);
}

.radio-input:not(:checked) + .radio-label:hover {
  border: 2px solid #ccc;
}

.gameboard-wrapper {
  width: 490px;
  height: 490px;
  margin-bottom: 1rem;  
  position: relative;
  display: grid;
  place-items: center;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  height: 450px;
}

.winline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

.winline-animation {
  stroke-dasharray: 150;
  stroke-dashoffset: 100;
  animation: draw-line 0.7s linear forwards;
}

.cell {
  display: grid;
  border: 6px solid var(--grid-border-color);
  font-size: 4rem;
  font-weight: 900;
  place-items: center;
  cursor: pointer;
  width: 150px;
  height: 150px;
}

.cell svg {
  width: 100px;
  height: 100px;
}

.cell line {
  stroke: var(--red);
}

.cell circle {
  stroke: var(--blue);
}

.win-combo {
  background-color: var(--win-combo);
}

.grid-top {
  border-top: none;
}

.grid-bottom {
  border-bottom: none;
}

.grid-left {
  border-left: none;
}

.grid-right {
  border-right: none;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1.5rem;
  background-color: var(--header);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
  border-radius: 0.5rem;
  width: 90%;
  padding: 0.7rem 3rem;
}

.score {
  display: flex;
  gap: 20px;
  align-items: center;
}

.score span {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.restart-btn {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
  font-weight: 700;
  font-size: 1.4rem;
  border: 3px solid #afafaf;
  color: #afafaf;
  font-family: 'Roboto Slab', sans-serif;
}

.restart-btn:hover {
  background-color: #f1eff2;
  color: var(--btn-color);
  border-color: var(--btn-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 0.6rem;
  font-size: 0.8rem;
}

.github-ref {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
  text-decoration: none;
  margin-right: 1rem;
}

.github-ref:hover span {
  text-decoration: underline;
}

.fa-github {
  font-size: 1.3rem;
}